/* Main */
body {
    margin: 0px;
    padding: 0px;
}



p {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #222222;
}
    #header-img {
        position: absolute;
        width: 32vw;
        height: 30vw;

    }

    h1 {
        position: relative;
        font-size: 100px;
        color: white;
        animation: shadow 2s infinite ease-in-out;
    }

nav {
    display: inline-block;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #222222;
    color: #222222
}

    #nav-links {
        display: flex;
        justify-content: stretch;
        align-items: center;
        padding: 0;
        margin: 0;
        background-color: #222222;
        height: 100%;
    }

        .nav-link {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin: 0;
            height: 100%;
            background-color: #00d8ff;
            /* border: solid; */
        }

        .nav-link:hover {
            background-color: red;
            cursor: pointer;
            /* border: */
        }
        .nav-link:active {

        }

        #scroll-up-link {
            background-color: #222222;
        }

        #scroll-up-button {
            width: 32px;
            height: 30px;
        }

/* Images */
